name: Build & Run

on:   
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    name: "Build" 
    strategy:
      fail-fast: false
      matrix:
        idf_ver: ["release-v5.1", "release-v5.2", "release-v5.3", "release-v5.4", "release-v5.5", "release-v6.0", "latest"]
    runs-on: [ubuntu-latest]
    container: espressif/idf:${{ matrix.idf_ver }}
    steps:
      - name: Export venv
        shell: bash
        run: |
          . ${IDF_PATH}/export.sh

  poke:
    name: "Run" 
    if: ${{ github.repository_owner == 'roma-jam-lab' }}
    needs: build
    runs-on: [self-hosted, usb_device]
    container:
      image: python:3.11-bookworm
      options: --privileged --device-cgroup-rule="c 188:* rmw" --device-cgroup-rule="c 166:* rmw"
    steps:
      - name: ⚙️ Install System tools
        run: |
          apt update
          apt install -y usbutils
      - name: ⚙️ Install Espressif Python packages
        env:
          PIP_EXTRA_INDEX_URL: "https://dl.espressif.com/pypi/"
        run: pip install --only-binary cryptography pytest-embedded pytest-embedded-serial-esp pytest-embedded-idf pyserial pyusb
